em {
  color: rgb(189, 255, 8);
}
.img {
  border-radius: 200%;
  height: 100px;
  width: 100px;
}
.header {
  background-color: palevioletred;
  border-bottom: 2px solid rgb(18, 95, 53);
  display: flex;
  padding: 7px;
}
.dets {
  background-color: blanchedalmond;
  margin: 7px;
  position: relative;
  top: -10px;
  left: 20px;
}
p1 {
  color: #af44e0;
  background-color: skyblue;
}
.name {
  background-color: blanchedalmond;
}
