.img {
  border-radius: 200%;
  height: 100px;
  width: 100px;
}
.header {
  background-color: palevioletred;
  border-bottom: 2px solid rgb(18, 95, 53);
  border-left: 2px solid rgb(18, 95, 53);
  height: 120px;
  display: flex;
  padding: 7px;
}
.dets {
  border-left: 2px solid black;
  height: 60px;
  border-top: 2px solid black;
  width: 200px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: blanchedalmond;
  margin: 7px;
  position: relative;
  top: -13px;
  left: 20px;
}
p1 {
  color: #af44e0;
  background-color: skyblue;
}
.name {
  color: cornflowerblue;
  background-color: blanchedalmond;
}
.git {
  background-color: palevioletred;
  color: darkgreen;
}
p > a {
  color: red;
}
dl > dt {
  color: red;
}
dl > dd {
  color: rgba(243, 84, 84, 0.774);
}
li a {
  color: gold;
}
table {
  border: 1px solid royalblue;
}
tr > th {
  color: aqua;
}
tr > td {
  color: rgb(245, 6, 245);
}
input[type="email"] {
  color: orange;
}
body {
  background-image: url("wp.jpg");
  background-size: 88%;
}
Email Id {
  color: rgb(157, 255, 0);
}
